body{
    margin:0;
}
h2{
    display:flex;
    border: 0;
}
.layer1{
    height: 100vh;
    background-color: aquamarine;
    display:flex;
    justify-content: center;
    z-index: 5;
    position: relative;
  
}


.frm{
    height:80%;
    width:94%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: first baseline;
    justify-content: space-evenly;
    background-color: antiquewhite;
    z-index: 6;
    top:10%;
    left: 3%;
    position: absolute;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
}
